.env {
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid;
    width: 30%;
    background-color: orange;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 20px #000;
}

.env-description {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.finish-date {
    text-align: center;
}

.build-name {
    font-size: 20px;
    text-align: center;
}

.build {
    text-align: center;
    font-weight: bold;
}

.a {
    text-alifgn: center;
}